stm32cubeide/plugins/com.st.stm32cube.ide.mcu.productdb_1.0.2.201907091052/resources/board_def/stm32TargetDefinitions.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" 
           xmlns:stm32="http://st.com/stm32TargetDefinitions" 
		   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
		   targetNamespace="http://st.com/stm32TargetDefinitions" 
		   xsi:schemaLocation="http://www.w3.org/2001/XMLSchema XMLSchema.xsd"
		   elementFormDefault="qualified" 
		   attributeFormDefault="unqualified" 
		   version="1.0">
	<xs:simpleType name="addrValue">
		<xs:restriction base="xs:string">
			<xs:pattern value="[+]?(0x|0X|#)?[0-9a-fA-F]+[kmgtKMGT]?"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="alignValue">
		<xs:restriction base="xs:string">
			<xs:pattern value="(4|8|16|32|0x4|0x04|0x8|0x08|0x10|0x20|0X4|0X04|0X8|0X08|0X10|0X20)"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="dbgIFType">
		<xs:restriction base="xs:token">
			<xs:enumeration value="SWD"/>
			<xs:enumeration value="JTAG"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="dbgDEVType">
		<xs:restriction base="xs:token">
			<xs:enumeration value="ST-LinkV2"/>
			<xs:enumeration value="ST-LinkV2-1"/>
			<xs:enumeration value="ST-LinkV3"/>
			<xs:enumeration value="ST-Link"/>
			<xs:enumeration value=""/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="memoryType">
		<xs:restriction base="xs:token">
			<xs:enumeration value="RAM"/>		<!-- Name for internal SRAM: 				RAM -->
			<xs:enumeration value="DataRAM"/>	<!-- Name for Core Coupled RAM: 			CCMRAM -->
			<xs:enumeration value="ROM"/>		<!-- Name for internal ROM (not yet used): 	ROM -->
			<xs:enumeration value="Flash"/>		<!-- Name for internal Flash: 				FLASH -->
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="fpuType">
		<xs:restriction base="xs:token">
			<!-- Historic values, supported by GCC but not applicable to Cortex-M processors -->
			<xs:enumeration value="vfp"/>
			<xs:enumeration value="vfpv3"/>
			<xs:enumeration value="vfpv3-fp16"/>
			<xs:enumeration value="vfpv3-d16"/>
			<xs:enumeration value="vfpv3-d16-fp16"/>
			<xs:enumeration value="vfpv3xd"/>
			<xs:enumeration value="vfpv3xd-fp16"/>
			<!-- FPU definitions applicable to v7-M processors -->
			<xs:enumeration value="fpv4-sp-d16"/> <!-- Cortex-M4 -->
			<xs:enumeration value="fpv5-sp-d16"/> <!-- Cortex-M7 - gcc-4.9 -->
			<xs:enumeration value="fpv5-d16"/>    <!-- Cortex-M7 with double support - gcc-4.9 -->
			<!-- FPU definitions for other V7/V8 cores -->
			<xs:enumeration value="neon"/>
			<xs:enumeration value="neon-fp16"/>
			<xs:enumeration value="vfpv4"/>
			<xs:enumeration value="vfpv4-d16"/>
			<xs:enumeration value="neon-vfpv4"/>
			<xs:enumeration value="fp-armv8"/>
			<xs:enumeration value="neon-fp-armv8"/>
			<xs:enumeration value="crypto-neon-fp-armv8"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="svdType">
		<xs:sequence>
			<xs:element name="name" type="xs:string"/>
			<xs:element name="version" type="xs:string" minOccurs="0"/>
			<xs:element name="url" type="xs:anyURI"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="firmwareType">
		<xs:restriction base="xs:token">
			<xs:enumeration value="StdPeriph"/>
			<xs:enumeration value="HAL"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="firmwareInfo">
		<xs:sequence>
			<xs:element name="name" type="xs:string"/>
			<xs:element name="realName" type="xs:string" minOccurs="0"/>
			<xs:element name="url" type="xs:anyURI" minOccurs="0"/>
			<xs:element name="urlMd5" type="xs:string" minOccurs="0"/>
			<xs:element name="patch" type="xs:anyURI" minOccurs="0"/>
			<xs:element name="patchMd5" type="xs:string" minOccurs="0"/>
			<xs:element name="CDefines" type="stm32:CDefineListInfo" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="type" type="stm32:firmwareType" use="required"/>
	</xs:complexType>
	<xs:complexType name="memoryInfo">
		<xs:sequence>
			<xs:element name="name" type="xs:string"/>
			<xs:element name="address" type="stm32:addrValue"/>
			<xs:element name="size" type="xs:string"/>
			<xs:element name="algo" type="xs:string" minOccurs="0"/>
			<xs:element name="minalign" type="stm32:alignValue" minOccurs="0"/>
			<xs:element name="bussize" type="xs:nonNegativeInteger" minOccurs="0"/>
			<xs:element name="nbchips" type="xs:nonNegativeInteger" minOccurs="0"/>
			<xs:element name="pagesize" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="type" type="stm32:memoryType" use="required"/>
	</xs:complexType>
	<xs:complexType name="memoryListInfo">
		<xs:sequence>
			<xs:element name="memory" type="stm32:memoryInfo" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="coreListInfo">
		<xs:sequence>
			<xs:element name="core" type="stm32:coreMInfo" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="firmwareListInfo">
		<xs:sequence>
			<xs:element name="firmware" type="stm32:firmwareInfo" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="peripheralListInfo">
		<xs:sequence>
			<xs:element name="peripheral" type="xs:Name" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CDefineListInfo">
		<xs:sequence>
			<xs:element name="CDefine" type="xs:string" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="marketingStatus">
		<xs:restriction base="xs:token">
			<xs:enumeration value="preview" />
			<xs:enumeration value="Preview" />
			<xs:enumeration value="proposal" />
			<xs:enumeration value="Proposal" />
			<xs:enumeration value="new" />
			<xs:enumeration value="New" />
			<xs:enumeration value="active" />
			<xs:enumeration value="Active" />
			<xs:enumeration value="deprecated" />
			<xs:enumeration value="Deprecated" />
			<xs:enumeration value="nrnd" />
			<xs:enumeration value="Nrnd" />
			<xs:enumeration value="obsolete" />
			<xs:enumeration value="Obsolete" />
			<xs:enumeration value="st secret"/>
			<xs:enumeration value="ST Secret"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="boardInfo">
		<xs:sequence>
			<xs:element name="name" type="xs:string"/>
			<xs:element name="status" type="stm32:marketingStatus" minOccurs="0"/>
			<xs:element name="mcuId" type="xs:string"/>
			<xs:element name="dbgIF" type="stm32:dbgIFType" minOccurs="0"/>
			<xs:element name="dbgDEV" type="stm32:dbgDEVType" minOccurs="0"/>
			<xs:element name="memories" type="stm32:memoryListInfo" minOccurs="0"/>
			<xs:element name="svd" type="stm32:svdType" minOccurs="0"/>
			<xs:element name="peripherals" type="stm32:peripheralListInfo" minOccurs="0"/>
			<xs:element name="firmwares" type="stm32:firmwareListInfo" minOccurs="0"/>
			<xs:element name="CDefines" type="stm32:CDefineListInfo" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="id" type="xs:string" use="required"/>
	</xs:complexType>
	<xs:complexType name="mcuInfo">
		<xs:sequence>
			<xs:element name="name" type="xs:string"/>
			<xs:element name="status" type="stm32:marketingStatus" minOccurs="0"/>
			<xs:element name="dieId" type="xs:hexBinary"/>
			<xs:element name="familyId" type="xs:string"/>
			<xs:element name="core" type="xs:string"  minOccurs="0"/>
			<xs:element name="fpu" type="stm32:fpuType" minOccurs="0"/>
			<xs:element name="cores" type="stm32:coreListInfo" minOccurs="0"/>
			<xs:element name="package" type="xs:string"/>
			<xs:element name="memories" type="stm32:memoryListInfo" minOccurs="0"/>
			<xs:element name="svd" type="stm32:svdType" minOccurs="0"/>
			<xs:element name="peripherals" type="stm32:peripheralListInfo" minOccurs="0"/>
			<xs:element name="firmwares" type="stm32:firmwareListInfo" minOccurs="0"/>
			<xs:element name="CDefines" type="stm32:CDefineListInfo" minOccurs="0"/>
			<xs:element name="dbgIF" type="stm32:dbgIFType" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="id" type="xs:string" use="required"/>
	</xs:complexType>
	<xs:complexType name="coreMInfo">
		<xs:sequence>
			<xs:element name="fpu" type="stm32:fpuType" minOccurs="0"/>
			<xs:element name="id" type="xs:integer"/>
			<xs:element name="memories" type="stm32:memoryListInfo" minOccurs="0"/>
			<xs:element name="svd" type="stm32:svdType" minOccurs="0"/>
			<xs:element name="peripherals" type="stm32:peripheralListInfo" minOccurs="0"/>
			<xs:element name="firmwares" type="stm32:firmwareListInfo" minOccurs="0"/>
			<xs:element name="CDefines" type="stm32:CDefineListInfo" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="name" type="xs:string" use="required"/>
		<xs:attribute name="shortname" type="xs:string" use="optional"/>
	</xs:complexType>
	<xs:complexType name="familyInfo">
		<xs:sequence>
			<xs:element name="name" type="xs:string"/>
			<xs:element name="status" type="stm32:marketingStatus" minOccurs="0"/>
			<xs:element name="familyId" type="xs:string" minOccurs="0"/>
			<xs:element name="svd" type="stm32:svdType" minOccurs="0"/>
			<xs:element name="peripherals" type="stm32:peripheralListInfo" minOccurs="0"/>
			<xs:element name="firmwares" type="stm32:firmwareListInfo" minOccurs="0"/>
			<xs:element name="CDefines" type="stm32:CDefineListInfo" minOccurs="0"/>
			<xs:element name="dbgIF" type="stm32:dbgIFType" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="id" type="xs:string" use="required"/>
	</xs:complexType>
	<xs:complexType name="serverDefinitions">
		<xs:sequence>
			<xs:element name="url" type="xs:anyURI" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="targetParts">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="servers" type="stm32:serverDefinitions" minOccurs="0" maxOccurs="1"/>
				<xs:element name="board" type="stm32:boardInfo" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element name="mcu" type="stm32:mcuInfo" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element name="family" type="stm32:familyInfo" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
		<xs:unique name="boards">
			<xs:selector xpath="stm32:board"/>
			<xs:field xpath="@id"/>
		</xs:unique>
		<xs:unique name="mcus">
			<xs:selector xpath="stm32:mcu"/>
			<xs:field xpath="@id"/>
		</xs:unique>
		<xs:unique name="families">
			<xs:selector xpath="stm32:family"/>
			<xs:field xpath="@id"/>
		</xs:unique>
		<xs:unique name="mcusandfamilies">
			<xs:selector xpath="stm32:mcu|stm32:family"/>
			<xs:field xpath="@id"/>
		</xs:unique>
	</xs:element>
	<xs:element name="targetDefinitions">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="servers" type="stm32:serverDefinitions" minOccurs="0" maxOccurs="1"/>
				<xs:element name="board" type="stm32:boardInfo" maxOccurs="unbounded"/>
				<xs:element name="mcu" type="stm32:mcuInfo" maxOccurs="unbounded"/>
				<xs:element name="family" type="stm32:familyInfo" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
		<xs:unique name="boardId">
			<xs:selector xpath="stm32:board"/>
			<xs:field xpath="@id"/>
		</xs:unique>
		<xs:unique name="allmcusandfamilies">
			<xs:selector xpath="stm32:mcu|stm32:family"/>
			<xs:field xpath="@id"/>
		</xs:unique>
		<xs:key name="mcuId">
			<xs:selector xpath="stm32:mcu"/>
			<xs:field xpath="@id"/>
		</xs:key>
		<xs:key name="familyId">
			<xs:selector xpath="stm32:family"/>
			<xs:field xpath="@id"/>
		</xs:key>
		<xs:keyref name="boardMcu" refer="stm32:mcuId">
			<xs:selector xpath="stm32:board"/>
			<xs:field xpath="stm32:mcuId"/>
		</xs:keyref>
		<xs:keyref name="mcuFamily" refer="stm32:familyId">
			<xs:selector xpath="stm32:mcu"/>
			<xs:field xpath="stm32:familyId"/>
		</xs:keyref>
		<xs:keyref name="subFamily" refer="stm32:familyId">
			<xs:selector xpath="stm32:family"/>
			<xs:field xpath="stm32:familyId"/>
		</xs:keyref>
	</xs:element>
</xs:schema>
