stm32cubeide/plugins/com.st.stm32cube.ide.common.services.mx_1.5.0.202011040924/resources/mxScratch.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2012 sp1 (http://www.altova.com) by Amel Talbi (STMicroelectronics) -->
<!--W3C Schema generated by XMLSpy v2012 sp1 (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="startup" type="xs:string"/>
	<xs:element name="stackSize" type="xs:string"/>
	<xs:element name="sourceEntry">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="name"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="sourceEntries">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="sourceEntry" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="optimization">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="0"/>
				<xs:enumeration value="1"/>
				<xs:enumeration value="2"/>
				<xs:enumeration value="3"/>
				<xs:enumeration value="4"/>
				<xs:enumeration value="5"/>
				<xs:enumeration value="6"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="name" type="xs:string"/>
	<xs:element name="memory">
		<xs:complexType>
			<xs:attribute name="start" type="xs:string" use="required"/>
			<xs:attribute name="size" type="xs:short" use="required"/>
			<xs:attribute name="name" type="xs:string" use="required"/>
			<xs:attribute name="access" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="memories">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="memory" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="inctoremove">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Aincludes"/>
				<xs:element ref="Cincludes"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="include" type="xs:string"/>
	<xs:element name="heapSize" type="xs:string"/>
	<xs:element name="group">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="name"/>
				<xs:sequence minOccurs="0">
					<xs:sequence>
						<xs:element ref="file" minOccurs="0" maxOccurs="unbounded"/>
					</xs:sequence>
					<xs:element ref="excluded" minOccurs="0"/>
					<xs:element ref="group" minOccurs="0" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="fpu">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="none"/>
				<xs:enumeration value="SP"/>
				<xs:enumeration value="DP"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="filestoremove">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="file"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="file">
		<xs:complexType mixed="true">
			<xs:sequence minOccurs="0">
				<xs:element ref="name"/>
				<xs:element ref="excluded" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="excluded">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="configuration" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="device">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="STM32H745IIKx"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="definestoremove">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Adefines"/>
				<xs:element ref="Cdefines"/>
				<xs:element ref="Ldefines"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="define">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value=""/>
				<xs:enumeration value="CORE_CM4"/>
				<xs:enumeration value="CORE_CM7"/>
				<xs:enumeration value="MBEDTLS_CONFIG_FILE=&quot;mbedtls_config.h&quot;"/>
				<xs:enumeration value="USE_FULL_LL_DRIVER"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="cpucore">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="ARM Cortex-M0"/>
				<xs:enumeration value="ARM Cortex-M0+"/>
				<xs:enumeration value="ARM Cortex-M3"/>
				<xs:enumeration value="ARM Cortex-M4"/>
				<xs:enumeration value="ARM Cortex-M7"/>
				<xs:enumeration value="ARM Cortex-A7"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="configuration" type="xs:string"/>
	<xs:element name="configs">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="config" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="config">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="name"/>
				<xs:element ref="device">
					<xs:annotation>
						<xs:documentation>Part number name as it is supported in CubeMX</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element ref="cpucore"/>
				<xs:element ref="fpu"/>
				<xs:element ref="memories"/>
				<xs:element ref="startup"/>
				<xs:element ref="heapSize"/>
				<xs:element ref="stackSize"/>
				<xs:element ref="board"/>
				<xs:element name="debugprobe" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:enumeration value="jtag"/>
							<xs:enumeration value="sw"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element ref="optimization" minOccurs="0"/>
				<xs:element ref="inctoremove"/>
				<xs:element ref="definestoremove"/>
				<xs:element ref="filestoremove"/>
				<xs:element ref="Aincludes"/>
				<xs:element ref="Cdefines"/>
				<xs:element ref="Adefines"/>
				<xs:element ref="Ldefines"/>
				<xs:element ref="Cincludes"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="board" type="xs:string"/>
	<xs:element name="Version">
		<xs:simpleType>
			<xs:restriction base="xs:byte">
				<xs:enumeration value="0"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Toolchain" type="xs:string"/>
	<xs:element name="ProjectPath" type="xs:string"/>
	<xs:element name="ProjectNature">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="C"/>
				<xs:enumeration value="Cpp"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="ProjectName" type="xs:string"/>
	<xs:element name="Project">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="FileVersion"/>
				<xs:element ref="ProjectPath"/>
				<xs:element ref="ProjectName"/>
				<xs:element ref="ProjectNature"/>
				<xs:element ref="HAL_Driver"/>
				<xs:element ref="CMSIS"/>
				<xs:element ref="Toolchain"/>
				<xs:element ref="Version"/>
				<xs:element ref="configs"/>
				<xs:element ref="sourceEntries" minOccurs="0"/>
				<xs:element ref="group" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="HAL_Driver" type="xs:string"/>
	<xs:element name="FileVersion">
		<xs:simpleType>
			<xs:restriction base="xs:decimal">
				<xs:enumeration value="1.0"/>
				<xs:enumeration value="2.0"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Cincludes">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="include" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Cdefines">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="define" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Ldefines">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="define" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="CMSIS" type="xs:string"/>
	<xs:element name="Aincludes">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="include" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Adefines">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="define" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
