stm32cubeide/plugins/com.st.stm32cube.ide.common.services.mx_1.5.0.202011040924/resources/mxScratch_v30.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2012 sp1 (http://www.altova.com) by Faten Hamoud (STMicroelectronics) -->
<!--W3C Schema generated by XMLSpy v2012 sp1 (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="startup" type="xs:string"/>
	<xs:element name="sourceEntry">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="name"/>
				<xs:choice>
					<xs:element ref="file" maxOccurs="unbounded"/>
				</xs:choice>
				<xs:element ref="excluded" minOccurs="0">
					<xs:annotation>
						<xs:documentation>A SourceEntry could be excluded from a given configuration.</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="sourceEntriesToRemove">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="source" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="sourceEntries">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="sourceEntry" maxOccurs="unbounded"/>
				<xs:element ref="excluded" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="optimization" type="xs:string"/>
	<xs:element name="name" type="xs:string"/>
	<xs:element name="memory">
		<xs:complexType/>
	</xs:element>
	<xs:element name="memories">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="memory"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="lib" type="xs:string"/>
	<xs:element name="inctoremove">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Aincludes"/>
				<xs:element ref="Cincludes"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="include" type="xs:string"/>
	<xs:element name="icfloc">
		<xs:simpleType>
			<xs:restriction base="xs:byte">
				<xs:enumeration value="1"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="group">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="name"/>
				<xs:choice>
					<xs:element ref="file" maxOccurs="unbounded"/>
					<xs:element ref="group" maxOccurs="unbounded"/>
				</xs:choice>
				<xs:element ref="excluded" minOccurs="0">
					<xs:annotation>
						<xs:documentation>A group could be excluded from a given configuration.</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="fpu">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="DP"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="filestoremove">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="file" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="file">
		<xs:complexType>
			<xs:sequence minOccurs="0">
				<xs:element ref="name"/>
				<xs:element ref="excluded" minOccurs="0">
					<xs:annotation>
						<xs:documentation>A sub source folder/file could be excluded from  a given configuration.</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="excluded">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="configuration"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="device" type="xs:string"/>
	<xs:element name="definestoremove">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Adefines"/>
				<xs:element ref="Cdefines"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="define">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value=""/>
				<xs:enumeration value="STM32L552xx"/>
				<xs:enumeration value="USE_HAL_DRIVER"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="debugprobe">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="JTAG"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="cpucore" type="xs:string"/>
	<xs:element name="configuration">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="STM32L552E_EVAL"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="configs">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="config" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="config">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="name"/>
				<xs:element name="mainSourceRepo" type="xs:string">
					<xs:annotation>
						<xs:documentation>The repository containing the main sources. Can be CM4, CM7. NonSeure, Secure</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="sourceStructure" type="xs:boolean">
					<xs:annotation>
						<xs:documentation>Advanced (Core/Src) or Basic(Src)</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element ref="device">
					<xs:annotation>
						<xs:documentation>PN device name</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element ref="cpucore">
					<xs:annotation>
						<xs:documentation>core name</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element ref="fpu"/>
				<xs:element ref="bootmode">
					<xs:annotation>
						<xs:documentation>Boot mode could be equals to SRAM or FLASH</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element ref="ExePath" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Optional. To specify the path of exectable/library path</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element ref="memories">
					<xs:annotation>
						<xs:documentation>Memory mapping info. To be used as inputs to generate the linker file if doesn't exist. </xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element ref="startup" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Path of the startup file  to be copied from the FW package. Should be copied in the user workspace if dones not exist (at the first generation or if it was removed manually by user.)  Else nothing to do.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element ref="LinkSettings" minOccurs="0"/>
				<xs:element ref="board">
					<xs:annotation>
						<xs:documentation>Board name.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element ref="debugprobe"/>
				<xs:element ref="optimization">
					<xs:annotation>
						<xs:documentation>optimization level</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element ref="Adefines"/>
				<xs:element ref="Cdefines"/>
				<xs:element ref="Cincludes"/>
				<xs:element ref="Aincludes"/>
				<xs:element ref="inctoremove"/>
				<xs:element ref="definestoremove"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="bootmode">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="FALSH"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="board" type="xs:string"/>
	<xs:element name="WorkspaceType">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="Single-project"/>
				<xs:enumeration value="Multi-project"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="WorkspacePath" type="xs:string"/>
	<xs:element name="Workspace">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="WorkspaceType">
					<xs:annotation>
						<xs:documentation>New field added for multi project ue cases to indicate if should be in the same workSpace ( multi-project) or not (single-project workspace). =Single-project:For legacy project,  </xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="WorkspacePath">
					<xs:annotation>
						<xs:documentation>Workspace path in witch the IDE project shuld be generated.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="UnderRoot" default="false">
					<xs:simpleType>
						<xs:restriction base="xs:string"/>
					</xs:simpleType>
				</xs:element>
				<xs:element name="TrustZone" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Optional field. Available with Secure/Non secure product (TrustZone feature) . =1 if enabled / =0 if disabled. Equvalent to TrustZone opton in EWARM.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="HAL_Driver">
					<xs:annotation>
						<xs:documentation>Path of the FW package.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="CMSIS">
					<xs:annotation>
						<xs:documentation>Path to CMSIS folder (included into the FW package or copied into the MX workSpace)</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element ref="Toolchain">
					<xs:annotation>
						<xs:documentation>Toolchain name (slected into cubeMX)</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element ref="Toolversion">
					<xs:annotation>
						<xs:documentation>Toolchain verison specifed by user. Should be able to support new and old version supported before.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="IocFile" type="xs:string">
					<xs:annotation>
						<xs:documentation>ioc file name</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element ref="Project" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="UsedFreeRTOS" type="xs:string"/>
	<xs:element name="TrustZoneLibName" type="xs:string"/>
	<xs:element name="TrustZone">
		<xs:simpleType>
			<xs:restriction base="xs:byte">
				<xs:enumeration value="1"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Toolversion" type="xs:string"/>
	<xs:element name="Toolchain" type="xs:string"/>
	<xs:element name="Secure">
		<xs:simpleType>
			<xs:restriction base="xs:byte">
				<xs:enumeration value="0"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="ProjectNature">
		<xs:complexType/>
	</xs:element>
	<xs:element name="ProjectName">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="Test_IAR_L5_TrustZone_NS"/>
				<xs:enumeration value="Test_IAR_L5_TrustZone_S"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Project">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ProjectName">
					<xs:annotation>
						<xs:documentation>project name. equivalent to the workspace name in case of single-project workspace.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element ref="ProjectNature">
					<xs:annotation>
						<xs:documentation>C or Cpp project. Actualy not a user option for MX standalone. Always ="C" expect when the touchGFX is used.  MX can't do the switch, but with CubeIDE it is possible.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element ref="Secure" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Added only for secure/non secure project. =1 secure / =0 Non secure. Equivalent to "SecureMode" option in EWARM.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element ref="configs"/>
				<xs:element ref="Groups">
					<xs:annotation>
						<xs:documentation>Project groups. List of project files classified per Groups. With Eclipse IDE, should contain list of files not located into the project folder.  </xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element ref="filestoremove">
					<xs:annotation>
						<xs:documentation>List of files used in previous generation and no more useful in the current generation. the projectgenrator should remove any reference to these files but not to remove them from the disk (MX should be repsonsible of that).</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element ref="sourceEntries">
					<xs:annotation>
						<xs:documentation>Mandatory for Under root projects</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element ref="sourceEntriesToRemove">
					<xs:annotation>
						<xs:documentation>List of source Entriies previously generated and no more useful. </xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="LinkerFile">
		<xs:complexType/>
	</xs:element>
	<xs:element name="LinkSettings">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="LinkerFile" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Path of the linker file  to be copied from the FW package. (it depends on the Compiler type) . Should be copied in the user workspace if dones not exist (at the first generation or if it was removed manually by user.)  Else nothing to do.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element ref="LinkAdditionalLibs" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Additioanl libs to be linked to the project.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element ref="TrustZoneLibName" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Specific to secure configuration project to link secure and non secure project.</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="LinkAdditionalLibs">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="lib" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="HAL_Driver" type="xs:string"/>
	<xs:element name="Groups">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="group" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="FileVersion" type="xs:string"/>
	<xs:element name="ExePath">
		<xs:complexType/>
	</xs:element>
	<xs:element name="Cincludes">
		<xs:complexType mixed="true">
			<xs:sequence>
				<xs:element ref="include" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Cdefines">
		<xs:complexType mixed="true">
			<xs:sequence>
				<xs:element ref="define" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="CMSIS" type="xs:string"/>
	<xs:element name="Aincludes">
		<xs:complexType mixed="true">
			<xs:sequence>
				<xs:element ref="include" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Adefines">
		<xs:complexType mixed="true">
			<xs:sequence>
				<xs:element ref="define" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="WorkspaceName"/>
	<xs:element name="source"/>
	<xs:element name="ScratchFile">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Workspace"/>
			</xs:sequence>
			<xs:attribute name="FileVerison" use="required">
				<xs:annotation>
					<xs:documentation>version of scratch file. If this filed is missing, use the default value=1.0.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
</xs:schema>
